/* -----BASE-BODY------ */
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #06171e;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* -----HEADLINES----- */
h1 {
  text-align: center;
  padding-top: 30px;
}

/* -----FOCUS-STATUS------*/
button:focus {
  outline: 3px solid #FF5733;
  outline-offset: 2px;
}

/* -----HEADER------ */
.header_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 32px 16px;
  background-color: #09212a;
}

.header_logo {
  max-width: 280px;
  width: 100%;
  height: auto;
}

/* -----MAIN-CONTENT------ */
.main-content {
  flex: 1;
}

#photo-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* -----GALLERY------*/
#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 150px;
}

.main-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  cursor: pointer;
}

.main-image:hover {
  opacity: 0.2;
}

/* -----DIALOG------ */
dialog {
  background-color: #09212a;
  color: whitesmoke;
  height: 60%;
  border: none;
  border-radius: 5%;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.8;
  transition: all 1s ease-in;
}

#dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  border: 0;
  background: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.close_button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6),
              0 0 10px rgba(0, 255, 255, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dialog_image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  padding: 60px 0 90px 0;
}

.dialog_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 58);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: none;
  color: rgb(199, 36, 24);
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.arrow-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6),
              0 0 10px rgba(0, 255, 255, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.open_dialog_button {
  background: none;
  border: none;
  padding: 0;
  border-radius: 5%;
}

/* -----FOOTER------ */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 32px 16px;
  background-color: #09212a;
}

/* -----UTILITIES------ */
.box_shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6),
              0 0 10px rgba(0, 255, 255, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}